.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
  display: flex;
  flex-flow: wrap;
  width: 500px;
  height: 500px;
}
.square {
    background: #f6f1f1;
    border: dashed rgb(221, 217, 217) 1px;
    box-sizing: border-box;
}

.square.mouseenter {
    background: rgb(57, 57, 94);
}